.intro-header{
  width: 100%;
  height: 60vh;
  background: rgba(0,0,0,0.5) url(../images/procurement-banner.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-header h1{
  font-size: 10vmin;
  color: var(--color-white);
  text-align: center;
}

.services{
  display: flex;
  margin: 50px 0;
  gap: 30px;
}

.image{
  height: 600px;
  min-width: 550px;
  background-image: url(../images/procurement.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.procurement-services h3{
  margin: 20px 0;
}
.procurement-services p {
  display: flex;
  align-items: center;
}

.procurement-services p i{
  color: var(--color-secondary);
  font-size: 30px;
  margin-right: 20px;
}

/* Responsive */
@media(max-width: 991px){
  .services{
    flex-direction: column;
    margin: 50px 20px;
  }
  .image{
    display: none;
  }
}