body{
  background-color: #ebe3e3;
}
.intro-header{
  width: 100%;
  height: 90vh;;
  background: rgba(0,0,0,0.5) url(../images/leadership.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-header h1{
  font-size: 10vmin;
  color: var(--color-white);
  text-align: center;
}

.team-container{
  display: flex;
  align-items: center;
  margin: 50px 0;
}

 .card-container{
  display: flex;
  flex-direction: left;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
  margin: 100px 0px;
}
 
.team-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 354px;
}

.team-card:hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -2px);
  transition: all 0.3s ease;
}

.team-card-img{
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.team-card-img img{
  width: 100%;
  object-fit: cover;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  width: 100%;
  height: 100px;
  border-bottom: 10px solid var(--color-primary);
  padding: 20px;
  
}
.details h2{
  font-size: 20px;
}

/* Responsive */
@media(max-width:768px){
  .team-container{
    margin: 20px 0;
  }
  .card-container{
    margin: auto;
  }
  .team-card{
    width: 100%;
  }
  .team-card-img{
    width: 100%;
    height: 320px;
  }
  .team-card-img img{
    width: 100%;
    height: 100%;
  }
  .details{
    width: 100%;
  }
  .details h2{
    font-size: 4.5vmin;
  }
}