.intro-header{
  width: 100%;
  height: 90vh;;
  background: rgba(0,0,0,0.5) url(../images/leadership.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-header h1{
  font-size: 10vmin;
  color: var(--color-white);
  text-align: center;
}
.big-card-container{
  display: flex;
}
.team-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  float: left;
  margin: 100px 0;
}

 .card-wrapper{
  height: auto;
  width: 250px;
  perspective: 1000px;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
 
/* Card front */
.card-front{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.card-wrapper:hover{
  transform: translate(0px, -2px);
  transition: all 0.3s ease;
}

.card-front-img{
  width: 250px;
  height: 250px;
}

.card-front-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  width: 100%;
  height: 100px;
  border-bottom: 10px solid var(--color-primary);
  padding: 20px;
  
}
.card-details h2{
  font-size: 20px;
}

/* Card back */
.card-back{
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 350px;
  padding: 10px;
  background-color: var(--color-primary);
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 10px solid var(--color-secondary);
}
.card-back p{
  color: var(--color-white);
  font-size: 14px;
  line-height: 16px;
}
.card-back span{
  font-weight: bold;
  color: var(--color-secondary);
}

/* Flip card */
.flipcard{
  transform-style: preserve-3d;
  transition: transform 0.8s;
  position: relative;
}
.card-wrapper.flipped .flipcard {
  transform: rotateY(180deg);
}

/* Responsive */
@media(max-width:768px){
  .team-container{
    margin: 20px 0;
  }

  .card-wrapper{
    width: 100%;
  }

  .card-front, .card-back{
    width: 100%;
    height: 100%;
  }

  .card-front-img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  .card-front-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-details{
    width: 100%;
  }
}